/* General Styles */
body {
  margin: 0;
  background-color: #ffffff;
}

.main-section {
  margin: 0 35px;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

/* Yellow Header */
.yellow-header {
  background: transparent linear-gradient(90deg, #f6db5a 0%, #bd9c00 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
  text-align: right;
  color: #ffffff;
  padding: 10px 0;
  font: normal normal normal 15px/26px Gabriola;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.yellow-header .lag-selector {
  background: #f65934 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  width: 65px;
  height: 23px;
  text-align: left;
  font: normal normal normal 10px/26px General Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-size: 10px;
}

.yellow-header .phone-icon,
.yellow-header .location-icon {
  vertical-align: middle;
}

.yellow-header .phone-text,
.yellow-header .location-text {
  font-size: 14px;
}

.yellow-header .separator {
  margin: 0 28px 0 43px;
  border: 1px #ffffff;
  opacity: 1;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .yellow-header {
    text-align: center;
    padding: 10px 5px;
  }

  .yellow-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .yellow-header .phone-text,
  .yellow-header .location-text {
    font-size: 12px;
  }

  .yellow-header .phone-icon,
  .yellow-header .location-icon {
    width: 12px;
    height: 12px;
  }

  .yellow-header .lag-selector {
    width: 55px;
    height: 20px;
    font-size: 9px;
  }

  .yellow-header .separator {
    display: none;
  }

  .yellow-header span {
    margin-bottom: 8px;
  }

  .yellow-header .phone-text,
  .yellow-header .location-text {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .yellow-header .phone-text,
  .yellow-header .location-text {
    font-size: 10px;
  }

  .yellow-header .lag-selector {
    width: 50px;
    height: 18px;
    font-size: 8px;
  }

  .yellow-header .phone-icon,
  .yellow-header .location-icon {
    width: 10px;
    height: 10px;
  }
}

/* White Header */
.white-header {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000012;
  border-radius: 0px 0px 10px 10px;
  opacity: 1;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: left;
  font: normal normal 900 14px/26px Cooper;
  letter-spacing: 0px;
  color: #646464;
  opacity: 1;
  height: 65px;
}

.white-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.white-header .logo img {
  width: 145px;
  height: 42px;
}

.white-header nav a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  position: relative;
}

.white-header nav a.active {
  color: #f65934;
}

.white-header nav a.active::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 50%;
  transform: translateX(-50%);
  width: 21px;
  height: 8px;
  background-color: #f65934;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.white-header .btn-pdn {
  margin: 0 0px 0 32px;
}

/* Responsive Layout */
@media (max-width: 1024px) {
  .white-header .container {
    padding: 10px;
  }

  .white-header .logo img {
    width: 120px;
    height: auto;
  }

  .white-header nav a {
    font-size: 14px;
    margin: 0 8px;
  }

  .white-header .btn-pdn {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .white-header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
  }

  .white-header .logo img {
    width: 120px;
    height: auto;
  }

  .white-header nav {
    margin-top: 10px;
    text-align: center;
  }

  .white-header nav a {
    font-size: 14px;
    margin: 5px 0;
  }

  .white-header .btn-pdn {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .white-header .container {
    padding: 5px;
  }

  .white-header .logo img {
    width: 100px;
    height: auto;
  }

  .white-header nav a {
    font-size: 12px;
    margin: 5px 0;
  }

  .white-header .btn-pdn {
    margin-left: 0;
  }
}

/* hero section */

.hero-section {
  position: relative;
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, #b69e22, rgba(255, 255, 255, 0));
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  opacity: 0.99;
  margin-top: 16px;
}

.hero-content {
  position: absolute;
  z-index: 2;
  width: 542px;
  height: 119px;
  text-align: left;

  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.hero-content h1 {
  margin: 0;
  padding-left: 40px;
  font: normal normal 900 48px/64px "Cooper", serif;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: 1;
}

.hero-family {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1195px;
  height: 375px;
  background: transparent url("../assets/images/home_page/Arabfamily@2x.png") 0%
    0% no-repeat padding-box;
  background-size: contain; /* Ensures the image scales properly */
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .hero-section {
    height: 200px;
  }

  .hero-content h1 {
    font-size: 24px;
  }

  .hero-family {
    max-width: 50%;
  }
}

/* Services Section */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 59px;
  margin-top: 32px;
}

/* Service Box */
.service-box {
  position: relative;
  width: 247px;
  height: 120px;
  border-radius: 11px;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
}

.plan_usion {
  width: 48px;
  height: 37px;
  opacity: 1;
}
.Union10 {
  width: 48px;
  height: 48px;
}
.world {
  width: 38px;
  height: 48px;
}
.Union3 {
  width: 48px;
  height: 38px;
}
.Union4 {
  width: 48px;
  height: 44px;
}
.Union5 {
  width: 38px;
  height: 48px;
}
.Union6 {
  width: 48px;
  height: 48px;
}
.Union7 {
  width: 48px;
  height: 48px;
}

.text_styling {
  text-align: center;
  font: normal normal normal 22px/24px Gabriola;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/* Service Image */
.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 22, 36, 0.6), #bd9c00);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Overlay Content */
.overlay-content {
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}

/* Hover Effects */
.service-box:hover .service-image {
  transform: scale(1.1);
}

.service-box:hover .overlay {
  opacity: 0;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  height: 379px;

  opacity: 1;
}

.footer-logo img {
  width: 168px;
  height: 128px;
  margin-top: 53px;
}

.footer-links {
  margin: 20px 0;
}

.footer-links a {
  color: #eeeeee;
  font-family: Gabriola;
  font-weight: regular;
  font-size: 18px;
  text-decoration: none;
  margin: 0 30px;
}

.social-icons img {
  height: 20px;
  width: 20px;
  margin: 0 15px;
}

footer p {
  color: #979797;
  font-family: Gabriola;
  font-weight: regular;
  font-size: 16px;
  margin-top: 70px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .white-header .container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 28px;
  }
}
